.heroContainer {
    margin-top: -3%;
    margin-left: 160px;
    /* width: 90%; */
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient( #aa88bf, #e66465);
}

.pic {
    width: 80vh;
    height: 80vh;
    align-self: center;
}

.bioMain {
    align-self: center;
    color: #e6e6e6;
    font-size: 30pt;
    margin-top: -5%;
}

.white {
    color: #e6e6e6;
}

.bioTyping {
    align-self: center;
    color: #5252cc;
    font-size: 20pt;
    /* margin-left: -5%; */
    margin-top: 0;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 600px) {
    .heroContainer {
        margin-left: 0px;
    }
    .pic {
        width: 45vh;
        height: 60vh;
    }
    .bioTyping {
        font-size: 15pt;
        margin-left: 0px;
    }
    .bioMain {
        font-size: 25pt;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .heroContainer {
        margin-left: 0px;
    }
    .pic {
        width: 60vh;
        height: 80vh;
    }
    .bioMain {
        margin-top: -15%;
    }
    .bioTyping {
        margin-left: 0px;
    }
}